// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
// Yellow has been modified
$yellow: #f9c659;
$orange: #E67E22;
// Green has been modified
$green: #0C5E23;
// Gray has been modified
$gray: #797975;
$light-gray: #F4F4F4;
