// Specific CSS for your home-page
.home-section-one {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.home-section-one-content {
  padding-top: 10px;
  padding-bottom: 20px;
}
