<div class="container-edaga">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
      <div class="form-login">
        <h2>Ajouter une recette</h2>
        <%= render "form" %>
        <!-- <p><%#= link_to "Back to list", recipes_path %></p> -->
      </div>
    </div>
  </div>
</div>


