<div class="container-edaga">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
      <div class="form-login">
        <h2>Add ingredient</h2>
        <%= simple_form_for [ @recipe, @ingredient ], html: {class: 'form-inline'} do |f| %>
          <%= f.input :quantity, label: "Quantity" %>
          <%= f.input :name, label: "Ingredient" %>
          <%= f.button :submit, class: "button button-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
