<!-- Home banner -->
<div class="home-banner">
  <div class="container-edaga">
    <div class="row">
      <div class="col-12 col-sm-10 col-md-6">
        <h1>THE PERFECT RECIPE</h1>
        <p>That will keep you busy during the #Stayhome days. Oh! And that will draw a smile on your beautiful face!</p>
        <!-- Search form -->
        <div class="form-inline my-2 my-lg-0r">
          <%= form_tag recipes_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
            class: "form-control mr-sm-2",
            placeholder: "Find a recipe"
            %>

            <%= submit_tag "Search", class: "button button-secondary my-2" %>
          <% end %>
        </div>

        <%= link_to "See all our recipes >>",  recipes_path, class: "link-text-color" %>
      </div>

    </div>
  </div>
</div>


<!-- <div class="home-section-one">
  <div class="container-edaga">
    <h3>Discover our weekly favorites</h3>
    <div class="row">
      <%# count = 1 %>
      <%# @recipes.each do |recipe| %>
        <%# if count < 4 %>
         <%#= render "recipes/recipe_card", recipe: recipe %>
        <%# count += 1 %>
        <%# end %>
      <%# end %>
    </div>
    <p class="text-sm-right"><%#= link_to "See all >>", recipes_path, class: "link-text-color" %></p>
  </div>
</div> -->
