<!-- Home banner -->
<div class="home-banner">
  <div class="container-edaga">
    <div class="row">
       <div class="col-12">
        <h1>Notre coup de coeur de la semaine ❤️</h1>
       </div>
    </div>

    <div class="row banner-content">
      <div class="col-12 col-md-6">
        <% homerecipe = Recipe.where(name: "Poulet Mhamer") %>
        <% default_homerecipe = Recipe.first %>
        <% if homerecipe.empty? %>
          <h2><%= default_homerecipe.name %></h2>
        <% else %>
          <h2><%= homerecipe.name %></h2>
          <%#= cl_image_tag homerecipe.photo.key, height: 300, width: 400, crop: :fill, class: "avatar" %>
        <% end %>
        <p>That will keep you busy during the #Stayhome days. Oh! And that will draw a smile on your beautiful face!</p>
      </div>
      <div class="col-12 col-md-6">
        <%= image_tag "home-banner.jpg", class: "banner-photo" %>
        <% homerecipe = Recipe.where(name: "Poulet Mhamer") %>
        <% if homerecipe.empty? %>
          <%#= cl_image_tag Recipe.first.photo.key, height: 300, width: 400, crop: :fill, class: "avatar" %>
        <% else %>
          <%#= cl_image_tag homerecipe.photo.key, height: 300, width: 400, crop: :fill, class: "avatar" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- <div class="home-section-one">
  <div class="container-edaga">
    <h3>Discover our weekly favorites</h3>
    <div class="row">
      <%# count = 1 %>
      <%# @recipes.each do |recipe| %>
        <%# if count < 4 %>
         <%#= render "recipes/recipe_card", recipe: recipe %>
        <%# count += 1 %>
        <%# end %>
      <%# end %>
    </div>
    <p class="text-sm-right"><%#= link_to "See all >>", recipes_path, class: "link-text-color" %></p>
  </div>
</div> -->
