<div class="home-banner">
  <div class="edagua-container">
    <div class="row">
      <div class="col-5">
        <h1>THE PERFECT RECIPE</h1>
        <p>That will keep you busy during the #Stayhome days. Oh! And that will draw a smile on your beautiful face!</p>
        <div class="btn btn-info">
          <%= link_to "Discover our recipes", recipes_path %>
        </div>
      </div>
    </div>
  </div>
</div>
