.home-banner {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('home-banner.jpg');
  background-size: cover;
  background-position:center;
  // height: 600px;
  // height: 80vh;
  color: #f9c659;
  text-align: left;
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: calc(100vh - 60px);
}


.home-banner h1 {
  margin: 0;
  color: $green;
  font-size: 40px;
  // font-weight: bold;
}

.home-banner p {
  font-size: 18px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  padding-top: 20px;
  line-height: 2;
  padding-bottom: 20px;
}

// .page-banner {
//   background-color: white;
//   padding-top: 100px;
// }

// .banner-content {
//   width: 500px;

// }
