.card-recipes {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  margin: 10px;;
}

.card-recipes > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-recipes-info {
  height: 70px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
}

.card-recipes-info-right {
  display: flex;

}

.card-review {
  overflow: hidden;
  background: white;
  width: 100%;
  border-bottom: 0.5px solid $light-gray;
  margin-bottom: 10px;
  padding: 10px;
  p {
    margin-bottom: 0rem;
  }
}

.review-header {
  margin-left: 10px;
}

.review-date {
  font-size: 10px;
}

.link-fa {
  color: $green;
  &:hover {
    color: $green;
    text-decoration-line: none;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
  }
}


.recipe-summary-card {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  border: solid 0.5px $light-gray;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
}

