.navbar-edagua {
  // justify-content: space-between;
  background: transparent;
}

.navbar-edagua-white {
  background: white;
}

.navbar-edagua .navbar-collapse {
  flex-grow: 0;
}

.navbar-edagua .navbar-brand img {
  width: 40px;
}
