.navbar-edaga {
  justify-content: space-between;
  background: transparent;
  position: absolute;
  padding: 0.5rem 1rem;
}

.navbar-edaga-white {
  background: white;
}

.navbar-edaga .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 40px;
}

.navbar-logo {
  width: 50px;
}
