.navbar-white {
  background: white;
  padding: 0.5rem 100px;
  height: 60px;
}

.navbar-brand img {
  width: 60px;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-right-item {
  padding-left: 10px;
}

.dropdown-toggle {
  cursor: pointer;
}

.bars-toggle {
  font-size: 32px;
  color: $green;
}

.nav-login {
  padding: 0;
}

@media(max-width: 992px){
  .navbar-white { padding: 0.5rem 80px;}
}
@media(max-width: 768px){
  .navbar-white { padding: 0.5rem 50px;}
  .navbar-right-links { display: block;}
}
@media(max-width: 576px){
  .navbar-white { padding: 0.5rem 20px;}
}

