.search-navbar {
  // display: flex;
  // align-items: center;

}

.search-input-navbar {
  height: 40px;
  padding-left: 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid $light-gray;
  &:hover {
    box-shadow: 0 0 5px $light-gray, 0 0 5px $green;
  }
}

.magnifier-icon {
  // background-color: $yellow;
  color: $yellow;
  border: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(-40px);

}

.magnifier-button {
  padding: 0 !important;
  border: none !important;
}

.search-form-navbar {
  display: flex;
  align-items: center;
  transform: translateX(+30px);
  margin-bottom: 0 !important;
}

// .search-input-navbar {
//   height: 35px;
//   padding-left: 10px;
//   width: 0;
//   outline: none;
//   border: 1px solid $light-gray;
//   border-radius: 15px;
//   // transition: all .5s;
//   align-items: flex-end;
//  &:hover {
//   box-shadow: 0 0 5px $light-gray, 0 0 5px $green;
//  }
// }

.active { width: 100% ;}



// Search form in page

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-input {
  flex-grow: 1;
}



